<!-- page heading start-->
<div class="page-heading">
        数据模拟工具
</div>
    <!-- page heading end-->
    <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        交易字段
                        <span class="tools pull-right">
                                <a class="fa fa-chevron-down" href="javascript:;"></a>
                                <a class="fa fa-times" href="javascript:;"></a>
                             </span>
                    </header>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <form class="form-horizontal bucket-form" method="get">
                                    <div class="form-group">
                                        <label class="col-lg-1 control-label">可选字段</label>

                                        <div class="col-md-12 icheck minimal">
                                            <div class="checkbox checked ">
                                                <label class="disabled"><input type="checkbox" disabled="" checked=" " id=""></label>
                                                <label>交易ID</label>
                                            </div>
                                            <div class="checkbox checked ">
                                                <label class="disabled"><input type="checkbox" disabled="" checked=" " id=""></label>
                                                <label>付款账号</label>
                                            </div>
                                            <div class="checkbox checked ">
                                                <label class="disabled"><input type="checkbox" disabled="" checked=" " id=""></label>
                                                <label>收款账号</label>
                                            </div>
                                            <div class="checkbox checked ">
                                                <label class="disabled"><input type="checkbox" disabled="" checked=" " id=""></label>
                                                <label>交易时间</label>
                                            </div>
                                            <div class="checkbox checked ">
                                                <label class="disabled"><input type="checkbox" disabled="" checked=" " id=""></label>
                                                <label>交易地点</label>
                                            </div>
                                            <div class="checkbox checked ">
                                                <label class="disabled"><input type="checkbox" disabled="" checked=" " id=""></label>
                                                <label>交易金额</label>
                                            </div>
                                            <div class="checkbox">
                                                <input type="checkbox"  >
                                                <label>交易渠道</label>
                                            </div>
                                            <div class="checkbox">
                                                <input type="checkbox"  >
                                                <label>业务类型</label>
                                            </div>
                                            <div class="checkbox">
                                                <input type="checkbox"  >
                                                <label>认证方式</label>
                                            </div>
                                            <div class="checkbox">
                                                <input type="checkbox"  >
                                                <label>IP地址</label>
                                            </div>
                                            <div class="checkbox">
                                                <input type="checkbox"  >
                                                <label>交易状态</label>
                                            </div>
                                            <div class="checkbox">
                                                <input type="checkbox"  >
                                                <label>终端号</label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            
                        </div>
                    </div>
                </section>
            </div>
    </div>
    <!--body wrapper start-->
    <div class="wrapper">
		<div class="row">
        <div class="col-md-12">

            <div class="panel" data-collapsed="0">

                <div class="panel-heading">
                    <div class="panel-title">
                        模拟正常交易数据
                    </div>
                </div>

                <div class="panel-body">

                    <div class="row">

                        <div class="col-md-3 form-group">
                            <input type="text" class="form-control" ng-model="simulate.timeFrom" placeholder="起始时间,2016-01-01 12:12:55">
                        </div>

                        <div class="col-md-3 form-group">
                            <input type="text" class="form-control" ng-model="simulate.timeTo" placeholder="结束时间,2016-01-01 12:12:55">
                        </div>
						<div class="col-md-3 form-group">
                            <input type="text" class="form-control" ng-model="simulate.moneyFrom" placeholder="起始金额,100">
                        </div>

                        <div class="col-md-3 form-group">
                            <input type="text" class="form-control" ng-model="simulate.moneyTo" placeholder="结束金额,10000">
                        </div>
                        <div class="col-md-3 form-group">
                            <input type="text" class="form-control" ng-model="simulate.city" placeholder="交易地点,中国上海上海">
                        </div>
						<div class="col-md-3 form-group">
                            <input type="text" class="form-control" ng-model="simulate.amount" placeholder="生成数量,1000">
                        </div>
						<button type="submit" class="btn btn-primary" ng-click="simulate.submitnormal()">Submit</button>
                        
                    </div>

                </div>

            </div>

        </div>
		</div>
		<div class="row">
        <div class="col-md-12">

            <div class="panel" data-collapsed="0">

                <div class="panel-heading">
                    <div class="panel-title">
                        模拟欺诈交易数据
                    </div>
                </div>

                <div class="panel-body">

                    <div class="row">

                        <div class="col-md-3 form-group">
                            <input type="text" class="form-control" placeholder="付款账号数量">
                        </div>

                        <div class="col-md-3 form-group">
                            <input type="text" class="form-control" placeholder="收款账号起始数量">
                        </div>
						<div class="col-md-3 form-group">
                            <input type="text" class="form-control" placeholder="收款账号结束数量,100">
                        </div>
					
                        <div class="col-md-3 form-group">
                            <input type="text" class="form-control" placeholder="起始金额,10000">
                        </div>
						<div class="col-md-3 form-group">
                            <input type="text" class="form-control" placeholder="结束金额,50000">
                        </div>
                        <div class="col-md-3 form-group">
                            <input type="text" class="form-control" placeholder="交易地点,中国上海上海">
                        </div>
						<div class="col-md-3 form-group">
                            <input type="text" class="form-control" placeholder="起始时间,2016-01-01 12:12:55">
                        </div>

                        <div class="col-md-3 form-group">
                            <input type="text" class="form-control" placeholder="结束时间,2016-01-01 12:12:55">
                        </div>
						<div class="col-md-3 form-group">
                            <input type="text" class="form-control" placeholder="时间范围,-1">
                        </div>
						<div class="col-md-3 form-group">
                            <input type="text" class="form-control" placeholder="时间类型,1，2，3，5，10，12，13">
                        </div>
						<div class="col-md-3 form-group">
                            <input type="text" class="form-control" placeholder="百分比,0.8">
                        </div>
						<button type="submit" class="btn btn-primary">Submit</button>
                        
                    </div>

                </div>

            </div>

        </div>
        </div>
		<div class="row">
        <div class="col-md-12">

            <div class="panel" data-collapsed="0">

                <div class="panel-heading">
                    <div class="panel-title">
                        模拟常用欺诈规则数据
						规则1
                    </div>
                </div>

                <div class="panel-body">

                    <div class="row">

                        <div class="col-md-3 form-group">
                            <input type="text" class="form-control" placeholder="生成数量">
                        </div>

                        <div class="col-md-3 form-group">
                            <input type="text" class="form-control" placeholder="百分比">
                        </div>
						
						<button type="submit" class="btn btn-primary">Submit</button>
                        
                    </div>

                </div>

            </div>

        </div>
        </div>
    </div>
<input type="text" ng-model="simulate.name">
<button type="submit" ng-click="simulate.submit()">submit</button>